   
	h5,h1
   {
   text-align :center;
   font-size : medium;
   }
   
	span
   {
  position: relative;    
	 text-align : right;
	  bottom: -20px;  
     left: 410px; 
      font-size : 15px; 	 
   }
	
	
   
   p{
    font-size : 15px;
	height : 0px;
   }
   
  nav
   {
   text-align: right;
   position: absolute;
    right: 10px;  
	top: 15px;
	left : 80px; 
	font-size :20px;
	text-decoration : none;
	color : black;
   }
   
	body 
	{
         background-color: #eee; 
		 margin : 0px;
     }
	 
	  .e
	{
	text-decoration : none;
	color : black;
	
	}
	
	.e:hover
	{
      color : #760001;
	  border-bottom : solid;
	  padding-bottom : 5px;
	}
	
	 .Envoyer
	{
	 background-color: #46804d;
	  border-radius: 10px;
	  border : none;
	  margin-right : 10px;
	    width : 100px;
	  height : 20px;
       margin-top: 20px;	  
	} 
	
	 .se_connecter
	{
	 background-color: #46804d;
	  border-radius: 10px;
	  border : none;
	  margin-right : 10px;
	    width : 100px;
	  height : 20px;	  
	} 
	
	 .publier
	{
	 background-color: #46804d;
	  border-radius: 10px;
	  border : none;
	  margin-right : 10px;
	    width : 100px;
	  height : 20px;	  
	} 
	
	
	   
     .leftblock 
	 {
	 display: unline-block;
	 width : 42%;
	 height : 4px;
	 margin-left : 7px;
	 background : #c0c0c0;
	 }
	 
	 .milieu
	 {
	 position: relative;    
	 text-align : right;
	  bottom: 13px;  
     left: -240px; 
	 }
	 
	 .rightblock
      {
	  display: unline-block;
	 width : 41%;
	 height : 4px;
	 margin-left : 325px;
	 background : #c0c0c0;
	 margin-top : -21px;
	  }   	 
	  
	 .Annuler 
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 100px;
	  height : 20px;
	  color : white;
	} 	
	
	.Annuler3 
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 100px;
	  height : 20px;
	  color : white;
	} 	
	  
	 .se_connecter
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 100px;
	  height : 20px;
	  color : white;
	   background-color: #46804d;
	  
	} 	
	
	 .Envoyer 
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 100px;
	  height : 20px;
	  color : white;
	  background-color: #46804d;
	  
	} 	
	
	.Publier1
	{
	 background-color: #46804d;
	  border-radius: 10px;
	  border : none;
	  margin-right : 10px;
	    width : 145px;
	  height : 20px;
	  margin-left : 80px;
	   color : white;
	}
	
	.Annuler1
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 145px;
	  height : 20px;
	    color : white;
	}
	
	.Envoyer2
	{
	 background-color: #46804d;
	  border-radius: 10px;
	  border : none;
	  margin-right : 10px;
	    width : 145px;
	  height : 20px;
	  margin-left : 80px;
	    color : white;
	}
	
	.Annuler2
	{
	 background-color: #e91685;
	  border-radius: 10px;
	  border : none;
	  margin-left :10px;
	  width : 145px;
	  height : 20px;
	    color : white;
	}
	
	.l1 
	{
		width: 325px;
		padding : 2px;
		height : 22px;
        text-color : yellow;
        border : yellowgreen; 		
	}
	
	 .l2 
	{
		width: 325px;
		padding : 2px;
		height : 22px;
        text-color : yellow;
        border : yellowgreen; 		
	}
	
	 .l3 
	{
		width: 325px;
		padding : 2px;
		height : 22px;
        text-color: yellow;
        border : yellowgreen; 		
	}
	
	 .l4
	{
		width: 325px;
		padding: 2px;
		height: 22px;
        text-color: yellow;
        border: yellowgreen; 
     		
	}
	
     .l5
	{
		width: 325px;
		padding : 2px;
		height : 22px;
        text-color : yellow;
		border : yellowgreen; 
		margin-top: -50px;		
	}
	
	
	
    .l6
	{
	   border : none;
       border-radius : 20px;
       width : 500px;
       height : 35px;	
       font-size : 15px;
  	   margin-bottom : 5px;
	}
	
	.e1 , .e2 , .e3 
	{
	line-height : 35px;
	font-size : 15px;
	}
	
	.e4
	{
	line-height : 25px;
	font-size : 20px;
	}
	
	.e5
	{
	line-height : 30px;
	font-size : 15px;
	}
	
	.e6
	{
	  position: relative;    
	  text-align : right;
      font-size : 15px; 
	  bottom : 15px;
	}
	
	.mois
	 {
	 display: unline-block;
	 width : 10px;
	 height : 2px;
	 margin-left : 45px;
	 background : black;
	 }
	 
	 .f_ieldset
	 {
	 height: 160px;
	 }

	 .apres_jour
	{    
		display: unline-block;
		width: 2%;
		height: 2px;
		background-color: black;
		position: relative;
		left: 55px;
		bottom: 10px;
	}
	
	
	.apres_mois
	{    
		display: unline-block;
        width: 2%;
        height: 2px;
        background-color: black;
        position: relative;
        left: 150px;
        bottom: 32px;
	}

	.block_date_mois
	{    
	position: relative;
	left: 65px;
	bottom: 22px;
	width: 80px;
	}

	.block_date_annee
	{    
		position: relative;
		bottom: 44px;
		left: 160px;	
	}
	
	.pour_la_date
	{    
		position: relative fixed;
		left: 470px;
		top: 12px;
		font-weight : bold;	
	}

	.oveflow_acceuil
	{    
	  width: 577px;   
      height : 238px;
      overflow : auto;
	}
	
	.oveflow_message
	{    
	  width: 577px;   
      height : 375px;
      overflow : auto;
	}

    .oveflow_contact
	{    
	  width: 577px;   
      height : 375px;
      overflow : auto;
	}

	.publication
	{    
		background-color:  #ccf;
		border-solid: 10px; 
		padding-left: 5px;
		width: 545px;   
		margin-left : 10px;
		border-radius : 5px;
		text-align : justify; 
		height : 80px;
		margin-top : 5px
	}

	.contenu_publi
	{    
	  
	}
	
	
	
	#logo
	{
       width : 116px;
	}
   
	#q1
	{
	height : 417px;
	margin-bottom : 14px
	}
	
	#p1
   {
     background-color: #cad;
	 margin : 0px;
	 padding-bottom : 5px;
   }  
   
#p2
   {
     background-color:  #C0C0C0;
	 padding-top : 1px;
	 height : 70px;
	 margin-top : 4px;
   }   
  
	#p3
   {
     background-color:  #cabadd;
	  border-radius: 20px; 
	  box-shadow : 10px 10px 0px #808080;
	  width: 360px;   
	  text-align: justify;   
	  padding: 5px;
	  margin : auto;
	  margin-bottom : 35px;
	  
	}
	
    #p4
   {
   text-align : center;
   margin-top: -20px;
   }

   #p5
   {
        height :476px ;
   }
	#p6
   {
       background-color:  #cabadd;
	  border-radius: 20px; 
	  box-shadow : 10px 10px 0px #808080;
	  width: 360px;   
	  text-align: justify;   
	  padding: 5px;
	  margin : auto;
	  height : 195px;
	  margin-top: 13px;
	  
	}
	
	
	#p8 
	{
	 background-color:  #ccf;
	  border-solid: 10px; 
	  padding: 5px;
	  width: 535px;   
	  margin : auto ;
	  text-align : justify;
	  margin-bottom : 25px;
	}
	
	#p9
	{
	 background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 545px;   
	  margin-left : 10px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : 5px;	  
	  }
	  
	  
    #p10 
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 10px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;	  
	  }
	  
	  
	#p11
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 10px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;	  
	  }
	  
	#p12
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 545px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 150px;
      margin-top : -4px;	  
	  }
	  
	  #p13  
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 85px;
      margin-top : 0px;	  
	  }
       
	   
	 #p14 
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 85px;
      margin-top : -10px;	  
	  }
	
	
	  #p15  
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 85px;
       margin-top : -10px;	  
	  }
	
	
	 #p16
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 85px;
       margin-top : -10px;		  
	  }
	
	   
	  #p17 , #p18 , #p19 
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 540px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 25px;
      margin-top : -10px;	  
	  }
	  
	  #p20  
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 510px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;	  
	  }
	  
	 #p23 
	{
	background-color:  #ccf;
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 510px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;	  
	  }
	  
	  #p21 
	{
	background-color: #eadef0;  
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 510px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;
      	  
	  }
	  
	 #p22
	{
	background-color: #eadef0;  
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 510px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : -13px;
      	  
	  }
	  
	  #p24
	{
	background-color: #eee;  
	  border-solid: 10px; 
	  padding-left: 5px;
	  width: 525px;   
	  margin-left : 0px;
	  border-radius : 5px;
	  text-align : justify; 
      height : 80px;
      margin-top : 5px;
      padding-top : 5px;
	  
       	  
	  }

	  #p25
	  {
	  text-align : center;
	  padding-top: 20px;
	  }

	#r1
	{
	background-color: #fff ;
	 border-solid: 10px;
	 padding-top: 10px;
	  width: 565px;   
	  margin :  auto;
	  text-align : justify;  
	  height : 460px;
	  margin-top : 27px;
	}
	
	#r2
	{
	background-color: #fff ;
	 border-solid: 10px;
	 padding-top: 5px;
	  width: 560px;   
	  margin :  auto;
	  text-align : justify;  
	  height : 440px;
	  margin-top : 70px;
	  padding-left : 10px;
	}
	 
    #r3
	{
	background-color: #fff ;
	 border-solid: 10px;
	 padding-top: 5px;
	  width: 560px;   
	  margin :  auto;
	  text-align : justify;  
	  height : 425px;
	  margin-top : 30px;
	  padding-left : 10px;
	}	 
	
	#r4
	{
	background-color: #fff ;
	 border-solid: 10px;
	 padding-top: 5px;
	  width: 560px;   
	  margin :  auto;
	  text-align : justify;  
	  height : 460px;
	  margin-top : 30px;
	  padding-left : 10px;
	}	 
	
	#r5
	{
	background-color: #fff ;
	 border-solid: 10px;
	 padding-top: 2px;
	  width: 545px;   
	  margin :  auto;
	  text-align : justify;  
	  height : 500px;
	  margin-top : 13px;
	  padding-left : 15px;
	  
	}
		
	#ovflow
	{    
	  width: 532px;   
      height : 327px;
      overflow : auto;
	}
	
	
	
	
	
	 
	
	  
	 